* {
    box-sizing: border-box;
}

body {
    color: maroon;
    background-color: darkgray;
    font-size: 28px;
    font-family: Verdana;
    margin: 0;
}

a:visited {
    color: green;
}

a:hover {
    color: whitesmoke;
}

.navbar {
    display: flex;
    background-color: #333;
    padding: 35px;
    align-items: center;
    justify-content: flex-end;
    text-transform: uppercase;
}

.links {
    display: flex;
    font-family: ;
    font-size: 36px;
    list-style-type: none;
    margin: 0px;
    font-weight: bold;
    gap: 5rem;
    padding: 0 1rem;
}

.link {
    text-decoration: none;
}

.products {
    display: grid;
    width: 100%;
    height: auto;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.product {
    border-radius: 15px;
    width: 400px;
    height: 500px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 26px;
}

.product img {
    height: 300px;
}

.product:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
}

.addToCartButton {
    border-radius: 15px;
    width: 150px;
    height: 30px;
}

.addToCartButton:hover {
    background-color: darkgreen;
    color: whitesmoke;
    cursor: pointer;
}