body {
    background-color: rgb(73, 73, 73);
    color: whitesmoke;
    padding: 20px;
    font-size: 20px;
    font-family: georgia;
    max-width: 1000px;
    margin: 0 auto;
}

a {
    color: rgb(2, 153, 153);
}

a:visited {
    color: #ff9966;
}

a:hover {
    color: rgb(189, 4, 189);
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    min-width: 280px;
    padding: 30px;
}

nav {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.navigation-items {
    display: flex;
    font-family: calibri;
    font-size: 28px;
    list-style-type: none;
    padding: 0;
    justify-content: space-around;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 35px;
    font-weight: bold;
}

nav li {
    margin-left: 15px;
    margin-right: 15px;
}

main {
    color: rgb(163, 163, 163);
}

#small {
    display: none;
}

.about-me-container {
    display: flex;
    margin-top: 45px;
    margin-bottom: 20px;
}

#about {
    margin-top: 0px;
}

.about-me-text-container {
    margin-right: 40px;
}

.about-me-text-container p {
    text-align: justify;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

#more-about-text {
    display: none;
    margin: 50px 0px;
    text-align: justify;
}

#more-about-text img {
    padding: 30px;
}

.favorites p {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

#family {
    border-radius: 75px;
    min-width: 280px;
}

#cat {
    border-radius: 75px;
}

main h3 {
    color: whitesmoke;
}

.favorites {
    display: flex;
    justify-content: space-around;
}

.favorites li {
    margin: 0px 30px 0px 30px;
}

#skills {
    margin-top: 40px;
}

.skills {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    justify-content: space-around;
    margin: 0px;
    margin-left: auto;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    padding: 15px 40px;
    font-size: 3rem;
}

#contact-items li {
    padding: 10px;
}

.disclaimer {
    font-size: 12px;
    text-align: center;
    color: rgb(163, 163, 163);
    padding: 20px;
}

@media only screen and (max-width: 1000px) {
    body {
        font-size: 18px;
        padding: 25px;
    }
    
    header img {
        padding: 15px;
    }

    nav {
        display: block;
    }

    nav h1 {
        margin-left: 0px;
        font-size: 24px;
        text-align: center;
        justify-content: center;
    }

    .navigation-items {
        margin-right: 0px;
        justify-content: center;
    }

    #small {
        display: block;
        margin-top: 15px;
        margin-bottom: 35px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 30px;
        width: 70%;
        max-width: 200px;
    }

    .about-me-text-container {
        margin-right: 0px;
    }
    
    #pic {
        display: none;
    }

    .favorites {
        font-size: 18px;
    }

    .favorites ul {
        margin-top: 50px;
    }

    #family {
        width: 70%;
    }

    #cat {
        display: none;
    }

    .skills-container {
        font-size: 2rem;
    }
    
    #contact-items li {
        padding: 3px;
    }
}

@media only screen and (max-width: 600px) {
    #pic {
        display: none;
    }

    .about-me-text-container {
        margin-right: 0px;
    }
    
    .favorites {
        font-size: 18px;
        display: block;
        text-align: center;
        list-style-type: none;
        list-style-position: inside;
    }

    .favorites ul {
        padding-inline-start: 0px;
    }

    #more-about-text img {
        padding: 0px;
        border-radius: 40px;
        margin-top: 50px;
    }

    .skills-container i {
        font-size: 1.5rem;
        margin-left: 4px;
        margin-right:4px;
    }

    #contact-items {
        font-size: 18px;
    }

}

/*#contact-info {
    display: block;
    margin-top: 75px;
}

#contact-info h3 {
    text-align: center;
}

#contact-info ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: auto;
    padding: 0;
    margin-top: 30px;
}